<div class="text-block">  
    {% if content.field_title %}  
        <h2>{{ content.field_title }}</h2>  
    {% endif %}  
    <div class="text-content">  
        {{ content.field_text | raw }}  
    </div>  
</div>