
  .portfolio-item {  
    margin: 15px;  
    position: relative;  
    overflow: hidden;  
    border-radius: 10px;  
    background: #f5f5f5;  
    transition: transform 0.3s;  
  }  
  
  .portfolio-item:hover {  
    transform: scale(1.05);  
  }  
  
  .portfolio-item img {  
    width: 100%;  
    height: auto;  
    border-radius: 10px 10px 0 0; 
  } 
 
  .view-content{
    display: flex;
    justify-content: space-evenly;
  }
  .views-view-grid .views-row{
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
    
  }
  .node__content{
    margin: 15px;  
    position: relative;  
    overflow: hidden;  
    border-radius: 10px;  
    background: #f5f5f5;  
    transition: transform 0.3s;
  }

  .node__content:hover{
    transform: scale(1.05);  

  }